@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	background-color:darkslateblue;
	color: #f5f5f5;
	font-family: 'Tenali Ramakrishna', sans-serif;
}
.container{
	position: relative;
	text-align: center;
	width: 100vw;
	min-height: 100vh;
}
h1{
	font-size: 5rem;
	}
	img{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}